@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

::placeholder {
  color: white;
}

.svg-sun {
  display: none;
}
.svg-rain {
  display: none;
}
.svg-storm {
  display: none;
}
.svg-cloud {
  display: none;
}
.svg-snow {
  display: none;
}

.gridbox {
  display: grid;
  margin: 0 auto;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  height: 800px;
  border: 1px solid rgb(185, 185, 185);
}

.left-box {
  background-color: #fc8077;
  height: 100%;
  text-align: center;
  padding: 2rem;
}

.container-left {
  height: 50%;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.left-box h1 {
  color: white;
  font-size: 3rem;
  font-weight: 500;
}

.left-box input {
  width: 80%;
  background: none;
  height: 35px;
  border-radius: 5px;
  border: 1.5px solid black;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
  outline: none;
}

.left-box button {
  display: block;
  margin: 0 auto;
  height: 35px;
  border: none;
  color: white;
  background: none;
  margin-top: 3rem;
  margin-bottom: 2rem;
  transition: all ease 0.2s;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
}

.left-box button:hover {
  cursor: pointer;
  color: rgb(219, 217, 217);
  border-bottom: 1px solid rgb(219, 217, 217);
  transform: scale(1.05);
}

.right-box {
  background-color: #ffffff;
  height: 100%;
  text-align: center;
  padding: 2rem;
}

.container-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.svg-container {
  width: 100%;
  height: 150px;
}

.container-right p {
  font-size: 4.5rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.container-right h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 5rem;
}

.max-min-temp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
}

.min-temp {
  font-weight: 500;
  font-size: 1.2rem;
  color: blue;
  text-align: right;
  margin-right: 3rem;
}

.max-temp {
  font-weight: 500;
  font-size: 1.2rem;
  color: red;
  text-align: left;
  margin-left: 2rem;
}

.hourly-forecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  text-align: center;
  background-color: rgb(241, 241, 241);
  height: 100px;
  margin-top: 2rem;
  font-size: 1.5rem;
  align-items: center;
}

.feels-like {
  font-weight: 500;
}

.feels-like p {
  font-size: 1.5rem;
  font-weight: 400;
}

.humidity {
  font-weight: 500;
}

.humidity p {
  font-size: 1.5rem;
  font-weight: 400;
}

.wind-speed {
  font-weight: 500;
}

.wind-speed p {
  font-size: 1.5rem;
  font-weight: 400;
}

.pressure {
  font-weight: 500;
}

.pressure p {
  font-size: 1.5rem;
  font-weight: 400;
}
